openapi: 3.0.3
info:
  title: Rasayel REST Channels Conversations API
  version: v1
  description: 'Rasayel REST API for WhatsApp B2B sales automation: contacts, message templates, sending messages, conversations, tags, channels, and custom properties. Derived by API Evangelist from the provider''s public Postman collection.'
  contact:
    name: Rasayel
    url: https://rasayel.io
  x-apievangelist-method: derived
  x-apievangelist-source: https://rest.developers.rasayel.io/ (public Postman collection 34761025)
  x-apievangelist-generated: '2026-07-20'
servers:
- url: https://api.rasayel.io/v1
security:
- basicToken: []
tags:
- name: Conversations
paths:
  /conversations:
    get:
      operationId: conversationsFetchConversations
      summary: Fetch Conversations
      tags:
      - Conversations
      responses:
        '200':
          description: Fetch Conversations
          content:
            application/json:
              example:
                data:
                - id: 2222638
                  uuid: 2cd9386d-ae3d-4d06-89da-de97bd33dd22
                  channel_type: dialog_waba
                  state: closed
                  first_inbound_message_at: null
                  first_outbound_message_at: null
                  last_inbound_message_at: '2024-03-13T12:28:19.000Z'
                  last_outbound_message_at: '2024-03-13T12:28:27.000Z'
                  last_opened_at: '2024-03-12T22:13:29.082Z'
                  last_closed_at: '2024-03-13T12:28:27.290Z'
                  assignee_id: 4291
                  assigned_team_id: null
                  snoozed_until: null
                  created_at: '2024-01-04T15:53:19.217Z'
                  updated_at: '2024-03-13T12:28:27.290Z'
                  account_id: 40
                  app_id: 40
                  channel_id: 59
                - id: 2283506
                  uuid: 042cff8f-3528-486a-a738-a664cc7184b2
                  channel_type: cloud_waba
                  state: opened
                  first_inbound_message_at: null
                  first_outbound_message_at: null
                  last_inbound_message_at: '2024-01-15T11:14:40.000Z'
                  last_outbound_message_at: '2024-04-22T16:33:51.000Z'
                  last_opened_at: '2024-01-16T09:29:16.646Z'
                  last_closed_at: '2024-01-15T11:12:57.227Z'
                  assignee_id: 5329
                  assigned_team_id: null
                  snoozed_until: null
                  created_at: '2024-01-12T11:55:37.603Z'
                  updated_at: '2024-04-22T16:33:51.291Z'
                  account_id: 40
                  app_id: 40
                  channel_id: 2390
                - id: 3159041
                  uuid: 67f1a913-fa86-444a-9615-b41e6e3fe8ef
                  channel_type: cloud_waba
                  state: opened
                  first_inbound_message_at: null
                  first_outbound_message_at: null
                  last_inbound_message_at: '2024-04-30T12:21:53.000Z'
                  last_outbound_message_at: '2024-04-30T14:01:07.000Z'
                  last_opened_at: '2024-04-30T12:21:55.402Z'
                  last_closed_at: '2024-04-22T16:34:27.669Z'
                  assignee_id: 4291
                  assigned_team_id: null
                  snoozed_until: null
                  created_at: '2024-03-04T17:57:45.928Z'
                  updated_at: '2024-04-30T14:01:08.270Z'
                  account_id: 40
                  app_id: 40
                  channel_id: 10053
                pagination:
                  total_count: 3
                  total_pages: 1
                  current_page: 1
                  next_page: null
                  previous_page: null
                  first_page: true
                  last_page: true
  /conversations/{id}:
    put:
      operationId: conversationsUpdateConversation
      summary: Update Conversation
      tags:
      - Conversations
      requestBody:
        content:
          application/json:
            example:
              assignee_id: 1234
      responses:
        '200':
          description: Unassign a conversation
          content:
            application/json:
              example:
                id: 2222638
                uuid: 2cd9386d-ae3d-4d06-89da-de97bd33dd22
                channel_type: dialog_waba
                state: closed
                first_inbound_message_at: null
                first_outbound_message_at: null
                last_inbound_message_at: '2024-03-13T12:28:19.000Z'
                last_outbound_message_at: '2024-03-13T12:28:27.000Z'
                last_opened_at: '2024-03-12T22:13:29.082Z'
                last_closed_at: '2024-03-13T12:28:27.290Z'
                assignee_id: null
                assigned_team_id: null
                snoozed_until: null
                created_at: '2024-01-04T15:53:19.217Z'
                updated_at: '2024-03-13T12:28:27.290Z'
                account_id: 40
                app_id: 40
                channel_id: 59
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
components:
  securitySchemes:
    basicToken:
      type: apiKey
      in: header
      name: Authorization
      description: 'Basic Auth value from a Rasayel API key. Send as: Authorization: Basic {token}. API keys carry a Read or Read/Write scope. Optional X_On_Behalf_Of header impersonates a user by ID.'
